<section
  class="overflow-hidden rounded-b-xl rounded-t-none border border-slate-200 bg-white shadow-sm [&_.app-table-container]:rounded-none [&_.app-table-container]:border-0 [&_.app-table-container]:shadow-none"
>
  <app-table [data]="salesData()?.items ?? []" [columns]="salesColumns" [config]="tableConfig()">
    <ng-template appTableColumn="id" let-sale>
      <span class="font-mono text-xs text-slate-700" [title]="sale.id">
        {{ sale.id | slice: 0 : 8 }}...
      </span>
    </ng-template>

    <ng-template appTableColumn="date" let-sale>
      <span class="text-slate-700">
        {{ sale.date | date: 'dd/MM/yyyy HH:mm' }}
      </span>
    </ng-template>

    <ng-template appTableColumn="productsSummary" let-sale>
      <span class="text-slate-700" [title]="sale.productsSummary">
        {{ sale.productsSummary }}
      </span>
    </ng-template>

    <ng-template appTableColumn="total" let-sale>
      <span class="font-medium text-slate-800">
        {{ sale.total | currency: 'BOB' : 'symbol' : '1.2-2' }}
      </span>
    </ng-template>
  </app-table>

  @if (salesData(); as data) {
    <app-paginator
      [paginator]="data"
      [currentPage]="currentPage().page ?? 1"
      [currentPageSize]="currentPage().pageSize ?? 10"
      (pageChange)="changePage($event)"
      (pageSizeChange)="changePageSize($event)"
    />
  }
</section>
