<section class="space-y-3">
  <app-movements-header
    [title]="'Sucursal ' + (branchName() ?? branchId() ?? '')"
    [showCreateButton]="false"
    [branchId]="branchId()"
  />

  <app-tabs ariaLabel="Tablas de sucursal" defaultTabId="branch-sales">
    <ng-template appTabPanel="branch-sales" tabLabel="Ventas" [tabBadge]="tabCounts().sales">
      <div class="space-y-3">
        <app-sales-filters></app-sales-filters>
        <app-sales-table></app-sales-table>
      </div>
    </ng-template>

    <ng-template
      appTabPanel="branch-movements"
      tabLabel="Movimientos"
      [tabBadge]="tabCounts().movements"
    >
      <div class="space-y-3">
        <app-movements-filters [hideBranchFilter]="true"></app-movements-filters>
        <app-create-branch-movement />
      </div>
    </ng-template>

    <ng-template
      appTabPanel="branch-products"
      tabLabel="Productos"
      [tabBadge]="tabCounts().products"
    >
      <div class="space-y-3">
        <app-inventory-filters></app-inventory-filters>
        <app-inventory-table></app-inventory-table>
      </div>
    </ng-template>
  </app-tabs>
</section>
