<section
  class="overflow-hidden rounded-b-xl rounded-t-none border border-slate-200 bg-white shadow-sm [&_.app-table-container]:rounded-none [&_.app-table-container]:border-0 [&_.app-table-container]:shadow-none"
>
  <app-table [data]="userData()?.items ?? []" [columns]="userColumns" [config]="tableConfig()">
    <ng-template appTableColumn="name" let-user>
      {{ user.name }}
    </ng-template>

    <ng-template appTableColumn="userName" let-user>
      {{ user.userName }}
    </ng-template>

    <ng-template appTableColumn="email" let-user>
      {{ user.email }}
    </ng-template>

    <ng-template appTableColumn="role" let-user>
      <span class="rounded-full bg-primary/10 px-2 py-1 text-xs font-medium text-primary">
        {{ user.role }}
      </span>
    </ng-template>

    <ng-template appTableColumn="actions" let-user>
      <app-action-buttons>
        <div appEditItem>
          <app-icon-button (buttonClick)="editUser(user)" action="edit" tooltip="Editar" />
        </div>
        <div>
          <app-icon-button (buttonClick)="deleteUser(user)" action="delete" tooltip="Eliminar" />
        </div>
      </app-action-buttons>
    </ng-template>
  </app-table>

  @if (userData(); as data) {
    <app-paginator
      [paginator]="data"
      [currentPage]="currentPage().page ?? 1"
      [currentPageSize]="currentPage().pageSize ?? 10"
      (pageChange)="changePage($event)"
      (pageSizeChange)="changePageSize($event)"
    />
  }
</section>
