<app-accordion title="Filtros de ventas">
  <form [formGroup]="filtersForm" class="grid grid-cols-1 gap-4 p-5 sm:grid-cols-2 xl:grid-cols-3">
    <app-form-input
      [parentForm]="filtersForm"
      controlName="folio"
      label="Folio"
      name="folio"
      placeholder="Buscar por folio"
    ></app-form-input>

    <app-form-input
      [parentForm]="filtersForm"
      controlName="customerName"
      label="Cliente"
      name="customerName"
      placeholder="Buscar por cliente"
    ></app-form-input>

    <app-form-input
      [parentForm]="filtersForm"
      controlName="branchName"
      label="Sucursal"
      name="branchName"
      placeholder="Buscar por sucursal"
    ></app-form-input>

    <app-form-input
      [parentForm]="filtersForm"
      controlName="status"
      label="Estado"
      name="status"
      placeholder="Buscar por estado"
    ></app-form-input>

    <app-form-input
      [parentForm]="filtersForm"
      controlName="startDate"
      label="Fecha inicio"
      name="startDate"
      type="date"
      placeholder=""
    ></app-form-input>

    <app-form-input
      [parentForm]="filtersForm"
      controlName="endDate"
      label="Fecha fin"
      name="endDate"
      type="date"
      placeholder=""
    ></app-form-input>
  </form>
</app-accordion>
